@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Ubuntu:ital,wght@0,500;1,400;1,700&display=swap');

:root {
    --primary-color: #084b83;
    --secondary-color: #42bfdd;
    --accent1-color: #bbe6e4;
    --accent2-color: #f0f6f6;
}

body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

header img {
    width: 150px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent2-color);
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
}

article {
    position: relative;
    padding: 20px;
    background-color: var(--accent2-color);
}

article img {
    float: right;
    width: 50%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

section {
    padding: 20px;
}

.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adventures figure {
    flex: 1 1 calc(20% - 10px);
    margin: 10px;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px 0;
}

footer nav {
    display: flex;
    justify-content: flex-end;
}

footer nav a {
    margin: 0 10px;
}

footer nav img {
    width: 30px;
    height: 30px;
}

