/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Ubuntu:ital,wght@0,500;1,400;1,700&display=swap');

/* CSS Variables */
:root {
    --primary-color: #084b83;
    --secondary-color: #42bfdd;
    --accent1-color: #bbe6e4;
    --accent2-color: #f0f6f6;
}


body {
    font-family: 'Comfortaa', cursive, 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    justify-content: space-around;
}

header img {
    max-width: 150px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: var(--secondary-color);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.employee img {
    border-radius: 50%;
    margin-right: 10px;
    max-width: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="radio"] {
    margin-right: 5px;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

footer p {
    margin: 0;
    flex: 1;
    text-align: center;
}

footer .sociallinks {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

footer .sociallinks a {
    margin: 0 10px;
}

footer .sociallinks img {
    width: 24px;
    height: 24px;
    
}
